@layer utilities {
    /* flex row */
    .flex-row {
        @apply flex flex-row;
    }

    .flex-items-center {
        @apply flex flex-row items-center;
    }

    .flex-row-center {
        @apply flex flex-row items-center justify-center;
    }

    .flex-row-between {
        @apply flex flex-row items-center justify-between;
    }

    .flex-row-end {
        @apply flex flex-row items-center justify-end;
    }

    .flex-row-items-start {
        @apply flex flex-row items-start;
    }

    .flex-row-items-end {
        @apply flex flex-row items-end;
    }

    /* flex col */
    .flex-col {
        @apply flex flex-col;
    }

    .flex-col-center {
        @apply flex flex-col items-center justify-center;
    }

    .flex-col-between {
        @apply flex flex-col items-center justify-between;
    }

    .flex-col-end {
        @apply flex flex-col items-center justify-end;
    }

    .flex-col-items-start {
        @apply flex flex-col items-start;
    }

    .flex-col-items-end {
        @apply flex flex-col items-end;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

}